<div class="fixed right-0 top-24 z-50 flex h-36 max-h-36 w-full max-w-2xl flex-row items-center justify-center rounded-lg border-2 border-solid border-gray-500 bg-gray-400 pb-3 pl-3 pr-3 pt-3 text-left text-black shadow-xl" id="popup">
    <div class="flex-1 flex-col">
        <section class="justify-start self-start font-bold text-gray-700" id="popup-topbar"></section>
        <section class="text-gray-700" id="popup-content"></section>
    </div>
    <!-- <section class="flex w-32 max-w-sm flex-1 items-start justify-end">
        <div class="flex-shrink-0 flex-grow-0"></div>
        <input class="ml-auto rounded-3xl border border-solid border-gray-600 bg-gray-300 px-4 py-2 font-semibold text-gray-800 shadow hover:bg-gray-200" type="button" id="popup-ok" value="X" />
    </section> -->
</div>